{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<title> this boost files </title>
<body>

    
    <h1 class="btn btn-danger">click this</h1>
    <button type="button" class="btn btn-primary">primary</button>

    <img src="{% static'images/16.jpg %}">


    <h5 class="card-title">Mahendra Singh Dhoni</h5>

    <p class="card-text">Dhoni is physically fit and did not sit out of any matches in IPL 2023. After a certain age, making a comeback is diffic</p>
    <a href="https://twitter.com/" class="btn btn-primary">Login to Twitter to Know More about MSD</a>
  </div>


    
</body>
</html> 